.dots-item {
    width: 10px;
    height: 10px;
    border: 1px solid #2C363F;
    border-radius: 50%;
    background-color: #F2F5EA;;;
    margin: 0.5rem;
}
.dots-container {
    min-width: 50px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.dot-active {
    width: 10px;
    height: 10px;
    border: 1px solid #2C363F;
    border-radius: 50%;
    /* background-color: #F2F5EA;;; */
    margin: 0.5rem;
    background-color: #2C363F;
}